@import "tailwindcss";
@import "tailwindcss/preflight";


@tailwind utilities;


.nav_wrapper {}


.container-nav {
    background: rgba(211, 200, 200, 0.02);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(20px);
}

.radial-gradient {
    background: radial-gradient(
        circle at 50% 0%,
        rgba(103, 45, 196, 0.288) 0%,
        transparent 60%
    ),rgb(68, 18, 150)
}

.linear-mask {
    mask-image: linear-gradient(
     -75deg,
     white calc(var(--x) + 20%),
     transparent calc(var(--x) + 30%),
     white calc(var(--x) + 100%)
    );
    -webkit-mask-image: linear-gradient(
        -75deg,
        white calc(var(--x) + 20%),
        transparent calc(var(--x) + 30%),
        white calc(var(--x) + 100%)
    );
    padding: 10px;
}

.hover_li {
    transition: color 1s ease, transform 1s ease;
}

.height_trans {
    transition: height .5s ease-out;
}



.hover_li:hover {
    color: rgb(68, 18, 150);
}

.moving_border {
    animation: move-border 4s linear infinite;
}

@keyframes move-border {
    0% {
        border-color: transparent;
        box-shadow: 0 0 0 0px  rgb(68, 18, 150), 0 0 0 0px rgb(68, 18, 150), 0 0 0 2px rgb(68, 18, 150);
    }
    50% {
        border-color: transparent;
        box-shadow: 0 0 0 0px rgb(68, 18, 150), 0 0 0 0px rgb(68, 18, 150);
    }
    100% {
        border-color: transparent;
        box-shadow: 0 0 0 0px  rgb(68, 18, 150), 0 0 0 0px rgb(68, 18, 150), 0 0 0 2px rgb(68, 18, 150);
    }
}

.text_animation300 {
animation: slidein 1s forwards;
animation-delay: .1s;
}

.text_animation500 {
    animation-delay: .2s;
    animation: slidein 1s forwards;
}

.text_animation700 {
    animation-delay: .3s;
    animation: slidein 1s forwards;
}

.text_animation800 {
    animation: slidein 1s  forwards;
    animation-delay: .4s;
}


@keyframes slidein {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
   100% {
     opacity: 1;
     transform: translateY(0);
    }
}


.blob {
    animation: blob 7s infinite;
}

@keyframes blob {
    0% {
        transform: translate(0px 0px)  scale(1);
    }
    33% {
        transform: translate(30px, -50px) scale(1.1);
    }
    66% {
        transform: translate(-20px 20px) scale(0.9);
    }
    100% {
        transform: translate(0px 0px)  scale(1);
    }
}


.navbar-glass {
    background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);

}


  .accordion-content{
    -webkit-transition: height 1s; 
    -moz-transition: height 1s; 
    -ms-transition: height 1s; 
    -o-transition: height 1s; 
    transition: height 1s;  
    background: #e5feff;
    overflow: hidden;
    max-height: 0;
  }
  

  .box-shadow-circle {
box-shadow: -25px 11px 36px 8px rgba(186,22,22,0.67);
-webkit-box-shadow: -25px 11px 36px 8px rgba(186,22,22,0.67);
-moz-box-shadow: -25px 11px 36px 8px rgba(186,22,22,0.67);
  }


  .animation-infinite-scroll {
    animation: infinite-scroll 40s linear infinite;
  }

  @keyframes infinite-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-50% - 20px));
    }
  }

  .rotate-center {
	-webkit-animation: rotate-center 0.6s ease-in-out infinite both;
	        animation: rotate-center 0.6s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-4-18 3:28:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  

  .shake-horizontal {
	-webkit-animation: shake-horizontal 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate-reverse both;
	        animation: shake-horizontal 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate-reverse both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-4-18 3:36:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }

  
  .second_glass_css {
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  }
